bitcoin               ICON    "pixmaps/bitcoin.ico"

#include "wx/msw/wx.rc"

check                 ICON    "pixmaps/check.ico"
send16                BITMAP  "pixmaps/send16.bmp"
send16mask            BITMAP  "pixmaps/send16mask.bmp"
send16masknoshadow    BITMAP  "pixmaps/send